body {
    font-family: 'Roboto', sans-serif;
}

#canvas {
    border: 1px solid black;
}

#container {
    margin: auto;
    max-width: 1240px;
}

.title {
    text-align: center;
}

.signature {
    text-align: right;
}